<a href="https://colab.research.google.com/github/rahulrajpr/prepare-anytime/blob/main/spark/functions/11_spark_sql_csv_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Spark CSV Functions**
https://spark.apache.org/docs/latest/sql-ref-functions-builtin.html#csv-functions

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('spark-functions').getOrCreate()

In [ ]:
csv_string = '''rahul,data-engineer,28'''

In [ ]:
# schema of csv

sql = f'''select schema_of_csv('{csv_string}') as schema_csv'''
spark.sql(sql).show(truncate = False)

sql = f'''select schema_of_csv('{csv_string}') as schema_csv'''
schema_string = spark.sql(sql).first()[0]
schema_string = schema_string.replace('_c0','name').replace('_c1','profession').replace('_c2','age')

+------------------------------------------+
|schema_csv                                |
+------------------------------------------+
|STRUCT<_c0: STRING, _c1: STRING, _c2: INT>|
+------------------------------------------+

In [ ]:
# from_csv : converting a csv into a struct

sql = f'''
select
    from_csv('{csv_string}','{schema_string}') as parsed_csv_struct
'''
spark.sql(sql).show(truncate = False)
spark.sql(sql).printSchema()

+--------------------------+
|parsed_csv_struct         |
+--------------------------+
|{rahul, data-engineer, 28}|
+--------------------------+

root
 |-- parsed_csv_struct: struct (nullable = false)
 |    |-- name: string (nullable = true)
 |    |-- profession: string (nullable = true)
 |    |-- age: integer (nullable = true)

In [ ]:
from os import truncate
# to_csv

sql = f'''
with cte as
(
  select
    from_csv('{csv_string}','{schema_string}') as parsed_csv_struct
)
select to_csv(parsed_csv_struct) as csv_content
from cte
'''
spark.sql(sql).show(truncate = False)

+----------------------+
|csv_content           |
+----------------------+
|rahul,data-engineer,28|
+----------------------+