<a href="https://colab.research.google.com/github/rahulrajpr/prepare-anytime/blob/main/spark/functions/2_spark_sql_mathematical_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Spark Mathematical Functions
https://spark.apache.org/docs/latest/sql-ref-functions-builtin.html#mathematical-functions

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('spark-functions').getOrCreate()

In [ ]:
# + : addition

sql = '''select 6 + 10 as additionOut'''
spark.sql(sql).show(truncate = False)

+-----------+
|additionOut|
+-----------+
|16         |
+-----------+

In [ ]:
# try_add

sql = '''select try_add(6,10) as try_addOut'''
spark.sql(sql).show(truncate = False)

sql = '''select try_add(6,'10') as try_addOut'''
spark.sql(sql).show(truncate = False)

sql = '''select try_add(6,null) as try_addOut'''
spark.sql(sql).show(truncate = False)

sql = '''select try_add(6,'ten') as try_addOut'''
spark.sql(sql).show(truncate = False)

+----------+
|try_addOut|
+----------+
|16        |
+----------+

+----------+
|try_addOut|
+----------+
|16.0      |
+----------+

+----------+
|try_addOut|
+----------+
|NULL      |
+----------+

+----------+
|try_addOut|
+----------+
|NULL      |
+----------+

In [ ]:
# - : substraction

sql = '''select 10 - 6 as substractionOut'''
spark.sql(sql).show(truncate = False)

+---------------+
|substractionOut|
+---------------+
|4              |
+---------------+

In [ ]:
# try_substract

sql = '''select try_subtract(10,6) as try_substractionOut'''
spark.sql(sql).show(truncate = False)

sql = '''select try_subtract(10,'six') as try_substractionOut'''
spark.sql(sql).show(truncate = False)

sql = '''select try_subtract(10,null) as try_substractionOut'''
spark.sql(sql).show(truncate = False)

+-------------------+
|try_substractionOut|
+-------------------+
|4                  |
+-------------------+

+-------------------+
|try_substractionOut|
+-------------------+
|NULL               |
+-------------------+

+-------------------+
|try_substractionOut|
+-------------------+
|NULL               |
+-------------------+

In [ ]:
# * : multiply two columns

sql = '''select 6 * 10 as multipliedResult'''
spark.sql(sql).show(truncate = False)

+----------------+
|multipliedResult|
+----------------+
|60              |
+----------------+

In [ ]:
# / : division

sql = '''select 10/6 as divisonOut'''
spark.sql(sql).show(truncate = False)

sql = '''
with cte as
(select 10/6 as divisonOut
)
select typeof(divisonOut)
from cte
'''
spark.sql(sql).show(truncate = False)

+------------------+
|divisonOut        |
+------------------+
|1.6666666666666667|
+------------------+

+------------------+
|typeof(divisonOut)|
+------------------+
|double            |
+------------------+

In [ ]:
# try_divide

sql = '''select try_divide(10,6) as try_divideOut'''
spark.sql(sql).show(truncate = False)

sql = '''select try_divide('10',6) as try_divideOut'''
spark.sql(sql).show(truncate = False)

sql = '''select try_divide(6,null) as try_divideOut'''
spark.sql(sql).show(truncate = False)

sql = '''select try_divide('ten',2) as try_divideOut'''
spark.sql(sql).show(truncate = False)

sql = '''select try_divide(2,0) as try_divideOut'''
spark.sql(sql).show(truncate = False)

+------------------+
|try_divideOut     |
+------------------+
|1.6666666666666667|
+------------------+

+------------------+
|try_divideOut     |
+------------------+
|1.6666666666666667|
+------------------+

+-------------+
|try_divideOut|
+-------------+
|NULL         |
+-------------+

+-------------+
|try_divideOut|
+-------------+
|NULL         |
+-------------+

+-------------+
|try_divideOut|
+-------------+
|NULL         |
+-------------+

In [ ]:
|# DIV : Integer division

sql = '''select 10 DIV 6 as divisonOut'''
spark.sql(sql).show(truncate = False)

+----------+
|divisonOut|
+----------+
|1         |
+----------+

In [ ]:
# % : modulo-division or reminder

sql = '''select 10%6 as divisonOut'''
spark.sql(sql).show(truncate = False)

+----------+
|divisonOut|
+----------+
|4         |
+----------+

In [ ]:
# abs : absolute value


sql = '''select abs(-1.3) as absOut'''
spark.sql(sql).show(truncate = False)

+------+
|absOut|
+------+
|1.3   |
+------+

In [ ]:
# negative : negated value of an expression


sql = '''select negative(-1.3) as negativeOut'''
spark.sql(sql).show(truncate = False)

sql = '''select negative(1.3) as negativeOut'''
spark.sql(sql).show(truncate = False)

+-----------+
|negativeOut|
+-----------+
|1.3        |
+-----------+

+-----------+
|negativeOut|
+-----------+
|-1.3       |
+-----------+

In [ ]:
# round: Traditional rounding (HALF_UP)- 0.5 always rounds up

sql = '''select round(1.345,0) as boundOut'''
spark.sql(sql).show(truncate = False)

sql = '''select round(1.345,1) as boundOut'''
spark.sql(sql).show(truncate = False)

sql = '''select round(1.345,2) as boundOut'''
spark.sql(sql).show(truncate = False)

sql = '''select round(1.356,2) as boundOut'''
spark.sql(sql).show(truncate = False)

+--------+
|boundOut|
+--------+
|1       |
+--------+

+--------+
|boundOut|
+--------+
|1.3     |
+--------+

+--------+
|boundOut|
+--------+
|1.35    |
+--------+

+--------+
|boundOut|
+--------+
|1.36    |
+--------+

In [ ]:
# bround: stands for bankers rounding, 0.5 rounds to the nearest even number

sql = '''select bround(1.345,0) as boundOut'''
spark.sql(sql).show(truncate = False)

sql = '''select bround(1.345,1) as boundOut'''
spark.sql(sql).show(truncate = False)

sql = '''select bround(1.345,2) as boundOut'''
spark.sql(sql).show(truncate = False)

sql = '''select bround(1.356,2) as boundOut'''
spark.sql(sql).show(truncate = False)

+--------+
|boundOut|
+--------+
|1       |
+--------+

+--------+
|boundOut|
+--------+
|1.3     |
+--------+

+--------+
|boundOut|
+--------+
|1.34    |
+--------+

+--------+
|boundOut|
+--------+
|1.36    |
+--------+

In [ ]:
# power : find the power of a number of number with a given power value
# synonym : pow

sql = '''select power(4,1) as powerOut'''
spark.sql(sql).show(truncate = False)

sql = '''select power(4,2) as powerOut'''
spark.sql(sql).show(truncate = False)

sql = '''select power(4,3) as powerOut'''
spark.sql(sql).show(truncate = False)

sql = '''select pow(4,1) as powerOut'''
spark.sql(sql).show(truncate = False)

sql = '''select pow(4,2) as powerOut'''
spark.sql(sql).show(truncate = False)

sql = '''select pow(4,3) as powerOut'''
spark.sql(sql).show(truncate = False)

+--------+
|powerOut|
+--------+
|4.0     |
+--------+

+--------+
|powerOut|
+--------+
|16.0    |
+--------+

+--------+
|powerOut|
+--------+
|64.0    |
+--------+

+--------+
|powerOut|
+--------+
|4.0     |
+--------+

+--------+
|powerOut|
+--------+
|16.0    |
+--------+

+--------+
|powerOut|
+--------+
|64.0    |
+--------+

In [ ]:
# sqrt : square root of a number

sql = '''select sqrt(16) as sqrtOut'''
spark.sql(sql).show(truncate = False)

+-------+
|sqrtOut|
+-------+
|4.0    |
+-------+

In [ ]:
# cbrt : cube root of a number

sql = '''select cbrt(8) as cbrtOut'''
spark.sql(sql).show(truncate = False)

+-------+
|cbrtOut|
+-------+
|2.0    |
+-------+

In [ ]:
# floor : round rown to lower integer

sql = '''select floor(10.7) as floorOut'''
spark.sql(sql).show(truncate = False)

+--------+
|floorOut|
+--------+
|10      |
+--------+

In [ ]:
# ceil : round up to the next higher integer
# synonym : ceiling

sql = '''select ceil(10.2) as ceilOut'''
spark.sql(sql).show(truncate = False)

sql = '''select ceiling(10.2) as ceilOut'''
spark.sql(sql).show(truncate = False)

+-------+
|ceilOut|
+-------+
|11     |
+-------+

+-------+
|ceilOut|
+-------+
|11     |
+-------+

In [ ]:
# conv : converting a number from one base to another base

sql = '''select conv(15,10,12) as covOut'''
spark.sql(sql).show(truncate = False)

+------+
|covOut|
+------+
|13    |
+------+

In [ ]:
# factorial : factorial

sql = '''select factorial(5) as factOut'''
spark.sql(sql).show(truncate = False)

+-------+
|factOut|
+-------+
|120    |
+-------+

In [ ]:
# greatest : find the greatest values amoung the columns specified

sql = '''select greatest(5,10,1) as greatestOut'''
spark.sql(sql).show(truncate = False)

+-----------+
|greatestOut|
+-----------+
|10         |
+-----------+

In [ ]:
# least : find the least of all columns specified in the columns specified

sql = '''select least(5,10,1) as leastOut'''
spark.sql(sql).show(truncate = False)

+--------+
|leastOut|
+--------+
|1       |
+--------+

In [ ]:
# ln : natural logariothm of the expression

sql = '''select ln(23) as lnOut'''
spark.sql(sql).show(truncate = False)

+------------------+
|lnOut             |
+------------------+
|3.1354942159291497|
+------------------+