<a href="https://colab.research.google.com/github/rahulrajpr/prepare-anytime/blob/main/spark/functions/3_spark_sql_date_time_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Spark Date Time Functions
https://spark.apache.org/docs/latest/sql-ref-functions-builtin.html#date-and-timestamp-functions

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('spark-function').getOrCreate()

In [ ]:
# current_date :
sql = '''select current_date() as currentDate'''
spark.sql(sql).show(truncate = False)

+-----------+
|currentDate|
+-----------+
|2025-10-25 |
+-----------+

In [ ]:
# curdate :
sql = '''select curdate() as currentDate'''
spark.sql(sql).show(truncate = False)

+-----------+
|currentDate|
+-----------+
|2025-10-25 |
+-----------+

In [ ]:
# current_timestamp :

sql = '''select current_timestamp() as currentTimeStamp'''
spark.sql(sql).show(truncate = False)

+--------------------------+
|currentTimeStamp          |
+--------------------------+
|2025-10-25 09:30:46.962398|
+--------------------------+

In [ ]:
# current_timezone :

sql = '''select current_timezone() as currentTimeZone'''
spark.sql(sql).show(truncate = False)

+---------------+
|currentTimeZone|
+---------------+
|Etc/UTC        |
+---------------+

In [ ]:
# now

sql = '''select now() as nowOut'''
spark.sql(sql).show(truncate = False)

+--------------------------+
|nowOut                    |
+--------------------------+
|2025-10-25 09:30:47.550239|
+--------------------------+

In [ ]:
# convert_timezone

sql = '''select convert_timezone('UTC','IST', current_timestamp()) as ISTTime'''
spark.sql(sql).show(truncate = False)

+--------------------------+
|ISTTime                   |
+--------------------------+
|2025-10-25 12:36:54.231104|
+--------------------------+

In [ ]:
# localtimestamp : the timestamp where the region of the cluster is located

sql = '''select localtimestamp() as date_out'''
spark.sql(sql).show(truncate = False)

In [ ]:
# date_add : adding n numebr of days to an exating date
# synonym : dateadd

sql = '''select date_add(current_date(),2) as date_addOut'''
spark.sql(sql).show(truncate = False)

sql = '''select date_add(current_date(),-2) as date_addOut'''
spark.sql(sql).show(truncate = False)

##--

sql = '''select dateadd(current_date(),2) as date_addOut'''
spark.sql(sql).show(truncate = False)

sql = '''select dateadd(current_date(),-2) as date_addOut'''
spark.sql(sql).show(truncate = False)

+-----------+
|date_addOut|
+-----------+
|2025-10-27 |
+-----------+

+-----------+
|date_addOut|
+-----------+
|2025-10-23 |
+-----------+

+-----------+
|date_addOut|
+-----------+
|2025-10-27 |
+-----------+

+-----------+
|date_addOut|
+-----------+
|2025-10-23 |
+-----------+

In [ ]:
# date_sub : substrituting n numebr of days to an exating date
# synonym : dateadd

sql = '''select date_sub(current_date(),2) as date_addOut'''
spark.sql(sql).show(truncate = False)

sql = '''select date_sub(current_date(),-2) as date_addOut'''
spark.sql(sql).show(truncate = False)

+-----------+
|date_addOut|
+-----------+
|2025-10-23 |
+-----------+

+-----------+
|date_addOut|
+-----------+
|2025-10-27 |
+-----------+

In [ ]:
# add_months : adding n numebr of days to an exating date

sql = '''select add_months(current_date(),2) as date_addOut'''
spark.sql(sql).show(truncate = False)

sql = '''select add_months(current_date(),-2) as date_addOut'''
spark.sql(sql).show(truncate = False)

+-----------+
|date_addOut|
+-----------+
|2025-12-25 |
+-----------+

+-----------+
|date_addOut|
+-----------+
|2025-08-25 |
+-----------+

In [ ]:
# interval : shifting dates using intervals, this keyword is a champion

sql = '''select current_date() + interval 2 days as date_addOut'''
spark.sql(sql).show(truncate = False)

sql = '''select current_date() - interval 2 days as date_addOut'''
spark.sql(sql).show(truncate = False)

sql = '''select current_date() + interval 2 months as date_addOut'''
spark.sql(sql).show(truncate = False)

sql = '''select current_date() - interval 2 months as date_addOut'''
spark.sql(sql).show(truncate = False)

sql = '''select current_date() + interval 2 year as date_addOut'''
spark.sql(sql).show(truncate = False)

+-----------+
|date_addOut|
+-----------+
|2025-10-27 |
+-----------+

+-----------+
|date_addOut|
+-----------+
|2025-10-23 |
+-----------+

+-----------+
|date_addOut|
+-----------+
|2025-12-25 |
+-----------+

+-----------+
|date_addOut|
+-----------+
|2025-08-25 |
+-----------+

+-----------+
|date_addOut|
+-----------+
|2027-10-25 |
+-----------+

In [ ]:
# date_diff
## this returns the number of days between two different days
# synonym : datediff

sql = '''select date_diff(current_date()+interval 3 days ,current_date()) as date_addOut'''
spark.sql(sql).show(truncate = False)

#---

sql = '''select datediff(current_date()+interval 3 days ,current_date()) as date_addOut'''
spark.sql(sql).show(truncate = False)

+-----------+
|date_addOut|
+-----------+
|3          |
+-----------+

+-----------+
|date_addOut|
+-----------+
|3          |
+-----------+

In [ ]:
# date diffrence using '-' operator
# this return an interval

sql = '''select (current_date()+interval 3 days) - current_date() as date_addOut'''
spark.sql(sql).show(truncate = False)

+----------------+
|date_addOut     |
+----------------+
|INTERVAL '3' DAY|
+----------------+

In [ ]:
# extract : to return a part from a date or timestamp datatype or interval values

sql = '''select extract(days from current_timestamp()) as extractedValue'''
spark.sql(sql).show(truncate = False)

sql = '''select extract(day from current_timestamp()) as extractedValue'''
spark.sql(sql).show(truncate = False)

sql = '''select extract(month from current_timestamp()) as extractedValue'''
spark.sql(sql).show(truncate = False)

sql = '''select extract(quarter from current_timestamp()) as extractedValue'''
spark.sql(sql).show(truncate = False)

sql = '''select extract(year from current_timestamp()) as extractedValue'''
spark.sql(sql).show(truncate = False)

sql = '''select extract(hour from current_timestamp()) as extractedValue'''
spark.sql(sql).show(truncate = False)

sql = '''select extract(minute from current_timestamp()) as extractedValue'''
spark.sql(sql).show(truncate = False)

sql = '''select extract(second from current_timestamp()) as extractedValue'''
spark.sql(sql).show(truncate = False)

sql = '''select extract( days from (current_date()+interval 3 days) - current_date()) as extractedValue'''
spark.sql(sql).show(truncate = False)

+--------------+
|extractedValue|
+--------------+
|25            |
+--------------+

+--------------+
|extractedValue|
+--------------+
|25            |
+--------------+

+--------------+
|extractedValue|
+--------------+
|10            |
+--------------+

+--------------+
|extractedValue|
+--------------+
|4             |
+--------------+

+--------------+
|extractedValue|
+--------------+
|2025          |
+--------------+

+--------------+
|extractedValue|
+--------------+
|7             |
+--------------+

+--------------+
|extractedValue|
+--------------+
|54            |
+--------------+

+--------------+
|extractedValue|
+--------------+
|25.434428     |
+--------------+

+--------------+
|extractedValue|
+--------------+
|3             |
+--------------+

In [ ]:
# date_part : part of a date , similar to extract
# the part argument has to be put into '' marks, NOT like extract


sql = '''select date_part('day',current_timestamp()) as extractedValue'''
spark.sql(sql).show(truncate = False)

sql = '''select date_part('month',current_timestamp()) as extractedValue'''
spark.sql(sql).show(truncate = False)

sql = '''select date_part('year',current_timestamp()) as extractedValue'''
spark.sql(sql).show(truncate = False)

sql = '''select date_part('hour',current_timestamp()) as extractedValue'''
spark.sql(sql).show(truncate = False)

sql = '''select date_part('minute',current_timestamp()) as extractedValue'''
spark.sql(sql).show(truncate = False)

sql = '''select date_part('second',current_timestamp()) as extractedValue'''
spark.sql(sql).show(truncate = False)

+--------------+
|extractedValue|
+--------------+
|25            |
+--------------+

+--------------+
|extractedValue|
+--------------+
|10            |
+--------------+

+--------------+
|extractedValue|
+--------------+
|2025          |
+--------------+

+--------------+
|extractedValue|
+--------------+
|7             |
+--------------+

+--------------+
|extractedValue|
+--------------+
|54            |
+--------------+

+--------------+
|extractedValue|
+--------------+
|8.474983      |
+--------------+

In [ ]:
# do_date : to convert as date string to date type

sql = '''select to_date('2025-10-25') as to_dateOut, typeOf(to_date('2025-10-25')) as outType'''
spark.sql(sql).show(truncate = False)

sql = '''select to_date('2025-10-25 10:12:10') as to_dateOut, typeOf(to_date('2025-10-25 10:12:10')) as outType'''
spark.sql(sql).show(truncate = False)

+----------+-------+
|to_dateOut|outType|
+----------+-------+
|2025-10-25|date   |
+----------+-------+

+----------+-------+
|to_dateOut|outType|
+----------+-------+
|2025-10-25|date   |
+----------+-------+

In [ ]:
# to_timestamp : to convert as date string to timestamp type

sql = '''select to_timestamp('2025-10-25') as to_dateOut, typeOf(to_timestamp('2025-10-25')) as outType'''
spark.sql(sql).show(truncate = False)

sql = '''select to_timestamp('2025-10-25 10:12:10') as to_dateOut, typeOf(to_timestamp('2025-10-25 10:12:10')) as outType'''
spark.sql(sql).show(truncate = False)

+-------------------+---------+
|to_dateOut         |outType  |
+-------------------+---------+
|2025-10-25 00:00:00|timestamp|
+-------------------+---------+

+-------------------+---------+
|to_dateOut         |outType  |
+-------------------+---------+
|2025-10-25 10:12:10|timestamp|
+-------------------+---------+

In [ ]:
# date_format

sql = '''select date_format(current_timestamp(),'dd-MMM-yyyy') as date_formatOut'''
spark.sql(sql).show(truncate = False)

sql = '''select date_format(current_timestamp(),'dd-MMMM-yyyy') as date_formatOut'''
spark.sql(sql).show(truncate = False)

sql = '''select date_format(current_timestamp(),'E') as date_formatOut'''
spark.sql(sql).show(truncate = False)

sql = '''select date_format(current_timestamp(),'EEEE') as date_formatOut'''
spark.sql(sql).show(truncate = False)

sql = '''select date_format(current_timestamp(),'EEEE, dd-MMMM-yyyy') as date_formatOut'''
spark.sql(sql).show(truncate = False)

sql = '''select date_format(current_timestamp(),'dd-MMMM-yyyy HH:mm') as date_formatOut'''
spark.sql(sql).show(truncate = False)

sql = '''select date_format(current_timestamp(),'dd-MMMM-yyyy HH:mm a') as date_formatOut'''
spark.sql(sql).show(truncate = False)

+--------------+
|date_formatOut|
+--------------+
|25-Oct-2025   |
+--------------+

+---------------+
|date_formatOut |
+---------------+
|25-October-2025|
+---------------+

+--------------+
|date_formatOut|
+--------------+
|Sat           |
+--------------+

+--------------+
|date_formatOut|
+--------------+
|Saturday      |
+--------------+

+-------------------------+
|date_formatOut           |
+-------------------------+
|Saturday, 25-October-2025|
+-------------------------+

+---------------------+
|date_formatOut       |
+---------------------+
|25-October-2025 07:49|
+---------------------+

+------------------------+
|date_formatOut          |
+------------------------+
|25-October-2025 07:49 AM|
+------------------------+

In [ ]:
# date_trunc

sql = '''select date_trunc('day',current_timestamp()) as date_truncOut'''
spark.sql(sql).show(truncate = True)

sql = '''select date_trunc('month',current_timestamp()) as date_truncOut'''
spark.sql(sql).show(truncate = True)

sql = '''select date_trunc('quarter',current_timestamp()) as date_truncOut'''
spark.sql(sql).show(truncate = True)

sql = '''select date_trunc('year',current_timestamp()) as date_truncOut'''
spark.sql(sql).show(truncate = True)

sql = '''select date_trunc('hour',current_timestamp()) as date_truncOut'''
spark.sql(sql).show(truncate = True)

+-------------------+
|      date_truncOut|
+-------------------+
|2025-10-25 00:00:00|
+-------------------+

+-------------------+
|      date_truncOut|
+-------------------+
|2025-10-01 00:00:00|
+-------------------+

+-------------------+
|      date_truncOut|
+-------------------+
|2025-10-01 00:00:00|
+-------------------+

+-------------------+
|      date_truncOut|
+-------------------+
|2025-01-01 00:00:00|
+-------------------+

+-------------------+
|      date_truncOut|
+-------------------+
|2025-10-25 08:00:00|
+-------------------+

In [ ]:
# day :

sql = '''select day(current_timestamp()) as date_out'''
spark.sql(sql).show(truncate = False)

+--------+
|date_out|
+--------+
|25      |
+--------+

In [ ]:
# month

sql = '''select month(current_timestamp()) as date_out'''
spark.sql(sql).show(truncate = False)

+--------+
|date_out|
+--------+
|10      |
+--------+

In [ ]:
# year

sql = '''select year(current_timestamp()) as date_out'''
spark.sql(sql).show(truncate = False)

+--------+
|date_out|
+--------+
|2025    |
+--------+

In [ ]:
# hour

sql = '''select hour(current_timestamp()) as date_out'''
spark.sql(sql).show(truncate = False)

+--------+
|date_out|
+--------+
|8       |
+--------+

In [ ]:
# minute

sql = '''select minute(current_timestamp()) as date_out'''
spark.sql(sql).show(truncate = False)

+--------+
|date_out|
+--------+
|23      |
+--------+

In [ ]:
# second

sql = '''select second(current_timestamp()) as date_out'''
spark.sql(sql).show(truncate = False)

+--------+
|date_out|
+--------+
|16      |
+--------+

In [ ]:
# dayofmonth

sql = '''select dayofmonth(current_timestamp()) as date_out'''
spark.sql(sql).show(truncate = False)

+--------+
|date_out|
+--------+
|25      |
+--------+

In [ ]:
# dayofweek
# Sun - 1, Sat - 7

sql = '''select dayofweek(current_timestamp()) as date_out'''
spark.sql(sql).show(truncate = False)

+--------+
|date_out|
+--------+
|7       |
+--------+

In [ ]:
# dayofyear

sql = '''select dayofyear(current_timestamp()) as date_out'''
spark.sql(sql).show(truncate = False)

+--------+
|date_out|
+--------+
|298     |
+--------+

In [ ]:
# last_day : last day of the month

sql = '''select last_day(current_timestamp()) as date_out'''
spark.sql(sql).show(truncate = False)

+----------+
|date_out  |
+----------+
|2025-10-31|
+----------+

In [ ]:
# make_date : create a date from date parts

sql = '''select make_date(2025,10,25) as make_dateOut'''
spark.sql(sql).show(truncate = False)

+------------+
|make_dateOut|
+------------+
|2025-10-25  |
+------------+

In [ ]:
# make_dt_interval : create date interval

sql = '''select make_dt_interval(1,10,25,0) as make_intervalOut'''
spark.sql(sql).show(truncate = False)

## same thing can be achieved using the interval keyword

sql = '''select interval 1 day 10 hours 25 minutes 0 seconds as intervalOut'''
spark.sql(sql).show(truncate = False)

+-----------------------------------+
|make_intervalOut                   |
+-----------------------------------+
|INTERVAL '1 10:25:00' DAY TO SECOND|
+-----------------------------------+

+-----------------------------------+
|intervalOut                        |
+-----------------------------------+
|INTERVAL '1 10:25:00' DAY TO SECOND|
+-----------------------------------+

In [ ]:
# make_ym_interval : create date interval

sql = '''select make_ym_interval(1,10) as make_intervalOut'''
spark.sql(sql).show(truncate = False)

## same thing can be achieved using the interval keyword

sql = '''select interval 1 year + 10 months as intervalOut'''
spark.sql(sql).show(truncate = False)

+-----------------------------+
|make_intervalOut             |
+-----------------------------+
|INTERVAL '1-10' YEAR TO MONTH|
+-----------------------------+

+-----------------------------+
|intervalOut                  |
+-----------------------------+
|INTERVAL '1-10' YEAR TO MONTH|
+-----------------------------+

In [ ]:
# make_interval : create a make interval

sql = '''select make_interval(1,2,4,10,25,0) as make_intervalOut'''
spark.sql(sql).show(truncate = False)

## same thing canNOT be achieved using the interval keyword
## because spark does not allow to add the yeat-month and date interval directly

+---------------------------------+
|make_intervalOut                 |
+---------------------------------+
|1 years 2 months 38 days 25 hours|
+---------------------------------+

In [ ]:
# make_timestamp

sql = '''select make_timestamp(2025,10,25,10,25,0) as make_intervalOut'''
spark.sql(sql).show(truncate = False)

+-------------------+
|make_intervalOut   |
+-------------------+
|2025-10-25 10:25:00|
+-------------------+

In [ ]:
# make_timestamp_ltz : make time stamp with local time zone

sql = '''select make_timestamp_ltz(2025,10,25,10,25,0, 'UTC') as make_intervalOut'''
spark.sql(sql).show(truncate = False)

+-------------------+
|make_intervalOut   |
+-------------------+
|2025-10-25 10:25:00|
+-------------------+

In [ ]:
# make_timestamp_ntz : make time stamp with no time zone

sql = '''select make_timestamp_ntz(2025,10,25,10,25,0) as make_intervalOut'''
spark.sql(sql).show(truncate = False)

+-------------------+
|make_intervalOut   |
+-------------------+
|2025-10-25 10:25:00|
+-------------------+

In [ ]:
# months_between

sql = '''select months_between(current_timestamp()+interval 10 months , current_timestamp()) as make_intervalOut'''
spark.sql(sql).show(truncate = False)

##-- using extract

sql = '''select ((current_timestamp()+interval 10 months) - current_timestamp()) as make_intervalOut'''
spark.sql(sql).show(truncate = False)

+----------------+
|make_intervalOut|
+----------------+
|10.0            |
+----------------+

+-------------------------------------+
|make_intervalOut                     |
+-------------------------------------+
|INTERVAL '304 00:00:00' DAY TO SECOND|
+-------------------------------------+

# General Note: Date and Time Intervals in Spark

## Understanding Interval Families

Spark distinguishes between two main types of intervals:

1. **YEAR-MONTH Interval**
   - Handles: months and years
   - Use when working with calendar-based periods

2. **DAY-TIME Interval**
   - Handles: days, hours, minutes, and seconds
   - Use when working with specific durations

## Important Limitation

**You cannot directly cast a day interval to a month interval** because the length of a month is variable (28–31 days).

- For conversions, a common approximation is: **1 month = 30 days**
- Conversion between these interval types is done through division

---

## Key Interval Functions

### 1. `make_interval()`
**Purpose:** Creates a DAY-TIME interval with flexibility across multiple time units

**Unique Importance:** Most versatile function - allows you to specify years, months, weeks, days, hours, minutes, and seconds all in one call

**Use when:** You need to create intervals that span multiple units or need the most flexible option

---

### 2. `make_dt_interval()`
**Purpose:** Creates a DAY-TIME interval specifically for day and sub-day units

**Unique Importance:** Focused on precise time durations without calendar complexity (days, hours, minutes, seconds)

**Use when:** Working with exact time durations that don't involve month/year calculations

---

### 3. `make_ym_interval()`
**Purpose:** Creates a YEAR-MONTH interval specifically for calendar-based periods

**Unique Importance:** Designed for calendar arithmetic - handles years and months correctly accounting for variable month lengths

**Use when:** Working with calendar-based periods where month and year precision matters (e.g., age calculations, subscription periods)

---

## Quick Reference Summary

| Function | Interval Type | Best For |
|----------|--------------|----------|
| `make_interval()` | Mixed (most flexible) | Complex intervals spanning multiple units |
| `make_dt_interval()` | DAY-TIME | Precise time durations |
| `make_ym_interval()` | YEAR-MONTH | Calendar-based periods |

In [ ]:
# next_day : to get the day for next day name

sql = '''select next_day(current_date(),'Monday') as nextMonday'''
spark.sql(sql).show(truncate = True)

+----------+
|nextMonday|
+----------+
|2025-10-27|
+----------+