<a href="https://colab.research.google.com/github/rahulrajpr/prepare-anytime/blob/main/spark/functions/5_spark_sql_conditional_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Spark Casting Functions
https://spark.apache.org/docs/latest/sql-ref-functions-builtin.html#conditional-functions

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('spark-functions').getOrCreate()

In [ ]:
# coalesce

sql = '''select coalesce(1,2) as out'''
spark.sql(sql).show(truncate = False)

sql = '''select coalesce(NULL,2) as out'''
spark.sql(sql).show(truncate = False)

+---+
|out|
+---+
|1  |
+---+

+---+
|out|
+---+
|2  |
+---+

In [ ]:
# nvl : nullValuation
# synonym : coalesce

sql = '''select nvl(1,2) as out'''
spark.sql(sql).show(truncate = False)

sql = '''select nvl(NULL,2) as out'''
spark.sql(sql).show(truncate = False)

+---+
|out|
+---+
|1  |
+---+

+---+
|out|
+---+
|2  |
+---+

In [ ]:
# nvl2 : nullValuation
# synonym : coalesce

sql = '''select nvl2(1,2,3) as out'''
spark.sql(sql).show(truncate = False)

sql = '''select nvl2(NULL,2,3) as out'''
spark.sql(sql).show(truncate = False)

+---+
|out|
+---+
|2  |
+---+

+---+
|out|
+---+
|3  |
+---+

### Comparison of COALESCE | NVL | NVL2

| Function | # of Arguments | Behavior | Spark SQL Support | Example Output |
|----------|----------------|----------|-------------------|----------------|
| `COALESCE` | 2+ | Returns first non-null value | ✅ Yes (SQL Standard) | `COALESCE(NULL, 'X') → 'X'` |
| `NVL` | 2 | Returns `expr2` if `expr1` is null | ✅ Yes (Oracle compatibility) | `NVL(NULL, 'X') → 'X'` |
| `NVL2` | 3 | Returns `expr2` if `expr1` not null, else `expr3` | ✅ Yes (Oracle compatibility) | `NVL2(NULL, 'Y', 'N') → 'N'` |

In [ ]:
# case when

sql = '''select case when contains('rahul','ra') then 1 else 0 end as out'''
spark.sql(sql).show(truncate = False)

+---+
|out|
+---+
|1  |
+---+

In [ ]:
# if

sql = '''select if(contains('rahul','ra'),1,0) as out'''
spark.sql(sql).show(truncate = False)

+---+
|out|
+---+
|1  |
+---+

In [ ]:
# ifnull

sql = '''select ifnull('rahul',0) as out'''
spark.sql(sql).show(truncate = False)

sql = '''select ifnull(null,0) as out'''
spark.sql(sql).show(truncate = False)

+-----+
|out  |
+-----+
|rahul|
+-----+

+---+
|out|
+---+
|0  |
+---+

In [ ]:
# nullif

sql = '''select nullif('null','null') as out'''
spark.sql(sql).show(truncate = False)

+----+
|out |
+----+
|NULL|
+----+

In [ ]:
#nanvl : NanValuation

sql = '''select nanvl(CAST('Nan' AS double),20.0) as out''' ## very important that the optional value is a floating point
spark.sql(sql).show(truncate = False)

sql = '''select nanvl(10.0,20.0) as out'''
spark.sql(sql).show(truncate = False)

+----+
|out |
+----+
|20.0|
+----+

+----+
|out |
+----+
|10.0|
+----+